  .quiz-slider {
    display: none;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 100vh;
  }

  .quiz-btn {
    border: solid black;
    padding: .25rem;
    cursor: pointer;
  }
  
  .quiz-question {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}

  .quiz-question.active {
    display: block;
    opacity: 1;
  }

  .quiz-navigation {
    margin-top: 20px;
  }

  .quiz-answer {
    margin-bottom: 10px;
  }

  .recommended-products {
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .product img {
    width: 50px;
    height: 50px;
  }

  .result-stack {
  display: flex;
  flex-direction: column;
  }
